.article_container {
    margin-left: 80px;
    margin-top: 84px;
}

.ac_header {
    margin-left: 20px;
    border-bottom: 1px solid grey;
    width: 600px;
}

.ac_header ul {

}

.ac_header ul li {


}