.article_container {
    margin-top: 84px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.ac_header {
    border-bottom: 1px solid grey;
    width: 650px;
}

.ac_header ul {

}

.ac_header ul li {


}