.navbar{
    color: #fff;
    background-color: #66CCCC;
    display: flex;
    height: 64px;
}

.title {
    flex-grow: 1;
}

.appBar {
    color: #fff;
    background-color: #66CCCC;
}

.MuiButton-text.loginButton {
    position: absolute;
    right: 0px;
    margin-right: 12px;
}
.MuiButton-text.accountButton {
    position: absolute;
    right: 0px;
    margin-right: 12px;
}

.chat-button{
    position: absolute;
    right:70px;
    margin-right: 12px;
    cursor: pointer;
}

.Profile{
    position: absolute;
    right: -10%;
    width: 35%;
    height: 50%;
    display: none;
}
.ProfileButton:hover + .Profile {
    display: block;
}
.Profile:hover {
    display: block;
}
.ProfileButton{
    position: absolute;
    right: 0px;
    margin-right: 12px;
}
