.storyContainer {
    margin-top: 20px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.imageContainer {
    height: 300px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.img {
    /* height: 300px; */
    width: 950px;
}