.navbar{
    display: flex;
    height: 64px;
}

.title {
    flex-grow: 1;
}

.loginButton {
    
}

.MuiButton-text.loginButton {
    position: absolute;
    right: 0px;
    margin-right: 12px;
}
.MuiButton-text.accountButton {
    position: absolute;
    right: 0px;
    margin-right: 12px;
}

.chat-button{
    position: absolute;
    right:70px;
    margin-right: 12px;
    cursor: pointer;
}

.drawer {

}
.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
    top: 64px;
}

.Profile{
    width: 35%;
    height: 50%;
    display: none;
    position: absolute;
    left: 25%;
}
.ProfileButton:hover + .Profile {
    display: block;
}
.Profile:hover {
    display: block;
}
